mutagen==1.47.0
numpy==1.26.4
packaging==24.0
pillow==10.3.0
pycryptodome==3.20.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
setuptools==70.0.0
six==1.16.0
tqdm==4.66.4
urllib3==2.0.1
websockets==12.0
Werkzeug==3.0.1
yt-dlp==2024.5.27
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
imageio==2.34.1
imageio[ffmpeg]==2.34.1
gunicorn==20.1.0
ffmpeg-python==0.2.0
requests==2.31.0
pytube==12.1.2
moviepy==1.0.3
pydub==0.25.1
youtube-dl==2021.12.17
pathlib==0.97
opencv-python
celery
redis
twspace_dl==2021.12.15.0
flask_socketio==5.3.2
space_dl
pymediainfo
